#profileInfo {
    margin: auto;
    margin-top: 6vw;
}

#editProfileInfo {
    max-width: 600px;
    margin: auto;
}

#editButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#editButton:hover {
    background-color: #45a049;
}

input {
    margin: 15px;
}

select {
    margin: 15px;
}